/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    background-color: black;
    height: 100vh ;
    width: 100vw;
}

header{
    height: 50px;
}

main{
    width: 90%;
    margin: auto;
    height: calc(100% - 130px)
}

footer{
    background-color: #222222;
    height: 80px;
    color: white;
    position: fixed;
    z-index: 100;
    width: 100vw;
}

.relative{
    position: relative;
}

/* HEADER */
.h-button{
    text-align: right;
}

.b{
    background-color: #4A4A4A;
    color: white;
    border: none;
    height: 24px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}

.h-button:last-child{
    margin-right: 5px;
}

/* MAIN */
.main.elements{
    display: flex;
    flex-wrap: wrap ;
    flex-direction: row;
}

.imgs{
    margin-top:20px ;
}

.imgs img{
    width: calc(100%/7 - 5px);
    margin-bottom:10px;
}

/* FOOTER */

.footer-elements{
    display: flex;
    justify-content: space-between;
}

.left-footer{
    display: flex;
    padding:10px;
}

.video{
    margin-left: 30px ;
}

.left-footer i{
    margin-right:20px ;
    margin-bottom: 10px;
}

.end{
    display: flex;
    justify-content: center;
    width: 120px;
}

.end button{
    height: 80px;
    width: 100%;
    text-decoration: none;
    border: none;
    background-color: #4A4A4A;
    color:red
}

